/* This is actually a JSONP response.  Don't mess with the DueUIThemes line below */
DueUIThemes({
"themes": [
	{"label": "Cerulean", "value": "css/dueui-Cerulean.theme.css"},
	{"label": "Cosmo", "value": "css/dueui-Cosmo.theme.css"},
	{"label": "Cyborg", "value": "css/dueui-Cyborg.theme.css"},
	{"label": "Dark", "value": "css/dueui-Dark.theme.css"},
	{"label": "Darkly", "value": "css/dueui-Darkly.theme.css"},
	{"label": "Flatly", "value": "css/dueui-Flatly.theme.css"},
	{"label": "Journal", "value": "css/dueui-Journal.theme.css"},
	{"label": "Litera", "value": "css/dueui-Litera.theme.css"},
	{"label": "Lumen", "value": "css/dueui-Lumen.theme.css"},
	{"label": "Lux", "value": "css/dueui-Lux.theme.css"},
	{"label": "Materia", "value": "css/dueui-Materia.theme.css"},
	{"label": "Minty", "value": "css/dueui-Minty.theme.css"},
	{"label": "Pulse", "value": "css/dueui-Pulse.theme.css"},
	{"label": "Sandstone", "value": "css/dueui-Sandstone.theme.css"},
	{"label": "Simplex", "value": "css/dueui-Simplex.theme.css"},
	{"label": "Sketchy", "value": "css/dueui-Sketchy.theme.css"},
	{"label": "Slate", "value": "css/dueui-Slate.theme.css"},
	{"label": "Solar", "value": "css/dueui-Solar.theme.css"},
	{"label": "Spacelab", "value": "css/dueui-Spacelab.theme.css"},
	{"label": "Superhero", "value": "css/dueui-Superhero.theme.css"},
	{"label": "United", "value": "css/dueui-United.theme.css"},
	{"label": "Yeti", "value": "css/dueui-Yeti.theme.css"},
	{"label": "bootstrap", "value": "css/dueui-bootstrap.theme.css"}
]
});
